.clients {
    padding: 2rem 2rem 2rem 2rem;

    .container {
      .clients-container {
        display: grid;
        gap: 9rem;
        grid-template-columns: repeat(3, 5fr);
        text-align: center;
        .client {
          img {
            height: 9rem;
          }
        }
      }
    }
    @media screen and (min-width: 280px) and (max-width: 1080px) {
      padding: rem 2rem 2rem 2rem;
      .container {
        .clients-container {
          grid-template-columns: repeat(2, 5fr);
          text-align: left;
          gap: 2rem;
  
          .client {
            &:nth-of-type(5) {
              display: none;
            }
            img {
              height: 5rem;
            }
          }
        }
      }
    }
  }